{% extends "themes/default.theme.html" %}
{% block title %}Krypton PGP/GPG Public Keyserver{% end %}

{% block body %}
<h1>{{ applicationContext.applicationName }} statistics<br />Taken at 2013-09-18 21:30:02 ICT</h1><h2>Settings</h2>
     <table summary="Keyserver Settings">
     <tr><td>Hostname:</td><td>pgp.megagod.net</td></tr>
     <tr><td>Version:</td><td>{{ applicationContext.version }}</td></tr>
     <tr><td>Server contact:</td><td>{{ applicationContext.serverContact }}</td></tr>
     <tr><td>Keyserver:</td><td>{{ applicationContext.applicationName }} ({{ applicationContext.url }})</td></tr>
     <tr><td>HTTP port:</td><td>11371</td></tr>
     <!-- <tr><td>Recon port:</td><td>11370</td></tr> -->
</table>

<table summary="Keyserver Peers" width="100%">
<tr valign="top"><td>
<h2>Gossip Peers</h2>
<table summary="Gossip Peers">
<tr><td>?? 11370</td></tr>

</table>
</td><td>
</td></tr></table>
<h2>Statistics</h2><p>Total number of keys: {{ numKeys }}</p>
<h3>Daily Histogram</h3>
<table summary="Statistics" border="1">
<tr><td>Time</td><td>New Keys</td><td>Updated Keys</td></tr>
{% for record in statsDaily %}
    <tr><td>{{ record["date"] }}</td><td>{{ record["totalNewKeys"] }}</td><td>{{ record["totalUpdatedKeys"] }}</td></tr>
{% end %}
</table>
<h3>Hourly Histogram</h3>
<table summary="Statistics" border="1">
<tr><td>Time</td><td>New Keys</td><td>Updated Keys</td></tr>
{% for record in statsHourly %}
    <tr><td>{{ record["date"] }} {{ record["hour"] }}</td><td>{{ record["totalNewKeys"] }}</td><td>{{ record["totalUpdatedKeys"] }}</td></tr>
{% end %}
</table>
{% end %}