{% extends "themes/default.theme.html" %}
{% block title %}Public Key Server -- Search {{ searchString }}{% end %}

{% block body %}
    <h1>Search results for '{{ searchString }}'</h1>
    <div class="row">
        <div class="col-md-1">Type</div>
        <div class="col-md-2">bits/keyID</div>
        <div class="col-md-2">cr. time</div>
        <div class="col-md-2">exp time</div>
        <div class="col-md-2">key expir</div>
    </div>

<ul class="list-group">
    {% for gpgkey in gpgkeys %}
    <li class="list-group-item">

        <div class="row">
            <div class="col-md-1"><span class="glyphicon glyphicon-lock"></span>pub</div>
            <div class="col-md-2">{{ gpgkey["key_lenght"] }}R/<a href="/pks/lookup?op=get&search=0x{{ gpgkey["key_id"] }}">{{ gpgkey["key_id_32"] }}</a></div>
            <div class="col-md-2">{{ gpgkey["creation_time"] }}</div>
            <div class="col-md-2">{{ gpgkey["expiration_time"] }}</div>
            <div class="col-md-2"></div>
        </div>
        {% if showFingerprint %}
            <div class="row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-4">Fingerprint={{ gpgkey['fingerprint'] }}</div>
            </div>
        {% end %}
        {% if showHash %}
            <div class="row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-4">Hash={{ gpgkey['hash'] }}</div>
            </div>
        {% end %}
        {% for userid in gpgkey['UserIDPacket'] %}
            <div class="row">
                <div class="col-md-1">uid</div>
                <div class="col-md-5">{{ userid['user'] }}</div>
            </div>
            {% for signature in userid['signatures'] %}
            <div class="row">
                <div class="col-md-1">sig</div>
                <div class="col-md-1">{{ signature['index_sig_text'] }}</div>
                <div class="col-md-2"><a href="/pks/lookup?op=get&search=0x{{ signature['key_id'] }}">{{ signature['key_id_32'] }}</a></div>
                <div class="col-md-2">{{ signature['creation_time'] }}</div>
                <div class="col-md-1"></div>
                <div class="col-md-1">{{ signature['expiration_time'] }}</div>
                <div class="col-md-2"><a href="/pks/lookup?op=vindex&search=0x{{ signature['key_id'] }}">{{ gpgkey["foreignKeys_names"][signature["key_id"]] }}</a></div>
            </div>
            {% end %}
        {% end %}
        {% if "UserAttributePacket" in gpgkey %}
            {% for userattribute in gpgkey['UserAttributePacket'] %}
                <div class="row">
                    <div class="col-md-2">uat</div>
                    <div class="col-md-4">[contents omitted]</div>
                </div>
                {% for signature in userid['signatures'] %}
                    <div class="row">
                        <div class="col-md-1">sig</div>
                        <div class="col-md-1">{{ signature['index_sig_text'] }}</div>
                        <div class="col-md-2"><a href="/pks/lookup?op=get&search=0x{{ signature['key_id'] }}">{{ signature['key_id_32'] }}</a></div>
                        <div class="col-md-2">{{ signature['creation_time'] }}</div>
                        <div class="col-md-1"></div>
                        <div class="col-md-1">{{ signature['expiration_time'] }}</div>
                        <div class="col-md-2"><a href="/pks/lookup?op=vindex&search=0x{{ signature['key_id'] }}">{{ gpgkey["foreignKeys_names"][signature["key_id"]] }}</a></div>
                    </div>
                {% end %}
            {% end %}
        {% end %}
        {% if "PublicSubkeyPacket" in gpgkey %}
        {% for subkey in gpgkey['PublicSubkeyPacket'] %}
            <div class="row">
                <div class="col-md-2">sub</div>
                <div class="col-md-4">{{ subkey["key_lenght"] }}R/{{ subkey["key_id"] }}</div>
                <div class="col-md-2">2013-05-07</div>

            </div>
            {% for signature in userid['signatures'] %}
                <div class="row">
                    <div class="col-md-1">sig</div>
                    <div class="col-md-1">{{ signature['index_sig_text'] }}</div>
                    <div class="col-md-2"><a href="/pks/lookup?op=get&search=0x{{ signature['key_id'] }}">{{ signature['key_id_32'] }}</a></div>
                    <div class="col-md-2">{{ signature['creation_time'] }}</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">{{ signature['expiration_time'] }}</div>
                    <div class="col-md-2"><a href="/pks/lookup?op=vindex&search=0x{{ signature['key_id'] }}">{{ gpgkey["foreignKeys_names"][signature["key_id"]] }}</a></div>
                </div>
            {% end %}
        {% end %}
        {% end %}
    </li>
    {% end %}
</ul>
{% end %}